<div class="not-found-container">
    <div class="not-found-card">
      <img src="https://cdn-icons-png.flaticon.com/512/4076/4076549.png" alt="Not Found" class="not-found-image" />
      <h1 class="not-found-title">404</h1>
      <h2 class="not-found-subtitle">Page Not Found</h2>
      <p class="not-found-text">
        Oops! The page you are looking for doesn’t exist.<br>
        It might have been moved or deleted.<br>
        <b>Let’s get you back to planning your next stay or trip!</b>
      </p>
      <button class="not-found-btn" (click)="goHome()">Back to Home</button>
    </div>
  </div>