<div class="dashboard-container">
  <h1 class="dashboard-title">Admin Dashboard</h1>

  <!-- Loading Animation -->
  <div *ngIf="loading" class="loading">
    <p>Loading data...</p>
  </div>

  <!-- Dashboard Cards -->
  <div class="cards-container" *ngIf="!loading">
    <div class="card" routerLink="/admin/bookings">
      <div class="icon-container">
        <i class="fas fa-bookmark"></i>
      </div>
      <div class="card-content">
        <h2>Total Bookings</h2>
        <p>{{ totalBookings }}</p>
      </div>
    </div>

    <div class="card" routerLink="/admin/flights">
      <div class="icon-container">
        <i class="fas fa-plane"></i>
      </div>
      <div class="card-content">
        <h2>Total Flights</h2>
        <p>{{ totalFlights }}</p>
      </div>
    </div>

    <div class="card" routerLink="/admin/hotels">
      <div class="icon-container">
        <i class="fas fa-hotel"></i>
      </div>
      <div class="card-content">
        <h2>Total Hotels</h2>
        <p>{{ totalHotels }}</p>
      </div>
    </div>

    <div class="card" routerLink="/admin/packages">
      <div class="icon-container">
        <i class="fas fa-box"></i>
      </div>
      <div class="card-content">
        <h2>Total Packages</h2>
        <p>{{ totalPackages }}</p>
      </div>
    </div>

    <div class="card" routerLink="/admin/itinerary">
      <div class="icon-container">
        <i class="fas fa-route"></i>
      </div>
      <div class="card-content">
        <h2>Total Itineraries</h2>
        <p>{{ totalItineraries }}</p>
      </div>
    </div>

    <div class="card" routerLink="/admin/users">
      <div class="icon-container">
        <i class="fas fa-users"></i>
      </div>
      <div class="card-content">
        <h2>Total Users</h2>
        <p>{{ totalUsers }}</p>
      </div>
    </div>
  </div>
</div>